$wide: '(min-width: 1800px)' !default;
$desktop: '(min-width: 1200px)' !default;
$tablet-landscape: '(min-width: 900px)' !default;
$tablet-protrait: '(min-width: 600px)' !default;
$phone: '(max-width: 600px)' !default;